body{
  background-image: url("pexels-photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.search-box{
  margin-top: 30px;
}

th{
  text-align: center;
}

.table thead th{
  border: none;
}
